<div class="text-right">
  <h5>
    <strong>
      <%# <%= link_to "Foreign", now_playing_foreign_movies_path, class: "a-primary" %>

      <%= link_to "Upcoming", upcoming_movies_path, class: "a-primary" %>

      <%# <%= link_to "Foreign Upcoming", upcoming_foreign_movies_path, class: "a-primary" %>
    </strong>
  </h5>
</div>

<div class="text-right">
  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>
  <% if user_signed_in? %>
    <h5>
      <strong>
        <%= Date.today.strftime("%A, %m-%d-%y") %>
      </strong>
    </h5>
    <h4>
      <strong>
        Welcome!
        <%= current_user.email.split("@").first.capitalize %>
      </strong>
    </h4>
  <% end %>
</div>

<div class="flex-container">
  <% @movies.each do |movie| %>
    <div class="card">
      <span class="cont_font">
        <% if Date.parse(movie.release_date) == Date.today %>
          <span class="open"><%= "Opening Day" %></span>
        <% else %>
          <%= movie.release_date[5..-1] + "-" + movie.release_date[2...4] %>
        <% end %>
      </span>
      <a href="/movies/<%= movie.id %>"><%= (image_tag 'https://image.tmdb.org/t/p/w500' + movie.image) unless movie.image.nil?%><br></a>
      <span class="cont_font"><%= movie.name %></span>
    </div>
  <% end %>
</div>
