<div class="text-right">
  <h6>
    <strong>
      <%= link_to "Now Playing", movies_path, class: "a-primary" %>
      |
      <%= link_to "Foreign", now_playing_foreign_movies_path, class: "a-primary" %>
      |
      <%= link_to "Foreign Upcoming", upcoming_foreign_movies_path, class: "a-primary" %>
    </strong>
  </h6>
</div>

<div class="text-right">
  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>
  <% if user_signed_in? %><br>
    <h5>
      <strong>
        <%= Date.today.strftime("%A, %m-%m-%y") %>
      </strong>
    </h5>
    <h4>
      <strong>Welcome!
        <%= current_user.email.split("@").first.capitalize %></strong>
    </h4>
  <% end %>
</div>

<div class="flex-container">
  <% @upcoming.each do |movie| %>
    <div class="card">
      <span class="cont_font"><%= movie.release_date[5..-1] + "-" + movie.release_date[2...4] %></span>
      <a href="/movies/<%= movie.id %>"><%= (image_tag 'https://image.tmdb.org/t/p/w500' + movie.image) unless movie.image.nil?%><br></a>
      <span class="cont_font"><%= movie.name %></span>
    </div>
  <% end  %>
</div>
