<br>
<div class="text-center">
  <h2>
    <strong>
      <u>Favorite Movies</u>
    </strong>
  </h2>
</div>
<br>
<div class="flex-container">
  <% @favorite_movies.each do |ticket| %>
    <div class="card">
      <span class="cont_font">
        <% if Date.parse(ticket.movie.release_date) == Date.today %>
          <span class="open"><%= "Opening Day" %></span>
        <% else %>
          <%= ticket.movie.release_date[5..-1] + "-" + ticket.movie.release_date[2...4] %>
        <% end %>
      </span>
      <a href="/movies/<%= ticket.movie.id %>"><%= (image_tag 'https://image.tmdb.org/t/p/w500' + ticket.movie.image) unless ticket.movie.image.nil?%><br></a>
      <button type="button" class="btn btn-default"><%= button_to "Delete", ticket_path(ticket), method: :delete %></button>
    </div>
  <% end  %>
</div>
