<meta name=”viewport” content=”width=device-width, initial-scale=1">
<!DOCTYPE html>
<html>
  <head>
    <title>DRYFT</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

    <body>
      <!--Navigation Bar-->
      <nav class="navbar navbar-light bg-light d-flex">
        <div class="container">
          <div class="logo">
            <a class="navbar-brand" href='<%= movies_path %>'>
              <%= fa_stacked_icon "bold inverse", base: "square"%>
              BLOCKBOOSTER
            </a>
          </div>
          <div class="m-auto">
            <form class="form-inline search-form">
              <input class="form-control mr-sm-2" type="search" placeholder="@search" aria-label="Search">
            </form>
          </div>
          <div class="user-section">
            <% if user_signed_in? %>
            <a href=""><i class="fa fa-map-marker"></i></a>
            <a href=""><i class="fa fa-ticket"></i></a>
            <p class="navbar-text pull-right">
                <%= link_to 'Edit profile', edit_user_registration_path%> |
                <%= link_to "Logout", destroy_user_session_path %>
              <% else %>
                <%= link_to "Sign up", new_user_registration_path%> |
                <%= link_to "Login", new_user_session_path%>
              <% end %>
            </p>
          </div>
        </div>
      </nav>

      <!--Main content-->
      <main class="container" style="min-height: 500px;">

        <%= yield %>
      </main>

      <!--Footer-->
      <footer class="container footer">
        <nav class="navbar d-flex">
          <p> © 2018 BLOCKBOOSTER </p>
        </nav>
      </footer>
    </body>
</html>
