<meta name=”viewport” content=”width=device-width, initial-scale=1">
<!DOCTYPE html>
<html>
  <head>
    <title>DRYFT</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Raleway+Dots" rel="stylesheet">
    <style>
      body {
        font-family: 'Raleway Dots', cursive;
        font-size: auto;
      }
    </style>
  </head>

    <body>
      <!--Navigation Bar-->
      <nav class="navbar navbar-light bg-light d-flex">
        <div class="container">
          <div class="logo">
            <a class="navbar-brand" href="<%= movies_path %>">
              <%= fa_stacked_icon "bold inverse", base: "square"%>
              <strong>BLOCKBOOSTER</strong>
            </a>
          </div>
          <div class="m-auto">
            <form class="form-inline search-form">
              <input class="form-control mr-sm-2" type="search" placeholder="@search" aria-label="Search">
            </form>
          </div>
          <div class="user-section">
            <% if user_signed_in? %>
              <p class="navbar-text pull-right">
              <a href="<%= new_ticket_path %>"><i class="fa fa-plus"></i></a>
              <a href="<%= user_path(current_user) %>"><i class="fa fa-star"></i></a>
              <a href="<%= tickets_path %>"><i class="fa fa-ticket"></i></a>
              <a href="<%= edit_user_registration_path %>"><i class="fa fa-pencil-square-o"></i></a>
              <a href="<%= destroy_user_session_path %>"><i class="fa fa-power-off"></i></a>
            <% else %>
              <b><%= link_to "Sign up", new_user_registration_path%></b> |
              <b><%= link_to "Login", new_user_session_path%></b>
            <% end %>
            </p>
          </div>
        </div>
      </nav>
      <!--Main content-->
      <main class="container" style="min-height: 500px;">
        <%= yield %>
      </main>
      <!-- Footer-->
      <footer class="container footer">
        <nav class="navbar d-flex">
          <p><strong> © 2018 BLOCKBOOSTER </strong></p>
        </nav>
      </footer>
    </body>
</html>
