<meta name="”viewport”" content="”width=device-width," initial-scale="1"">
<!DOCTYPE html>
<html>
  <head>
    <title>© 2019 BLOCK-BOOSTER</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <!----Font---->
    <link href="https://fonts.googleapis.com/css?family=Raleway+Dots" rel="stylesheet">
    <style>
      body {
        font-family: 'Raleway Dots', cursive;
        font-size: auto;
      }
    </style>
  </head>

  <body>
    <!--Navigation Bar-->
    <nav class="navbar navbar-light bg-light d-flex">
      <div class="container">
        <div class="logo">
          <a class="navbar-brand a-primary" href="<%= movies_path %>">
            <%= fa_stacked_icon "bold inverse", base: "square"%>
            <strong>BLOCK-BOOSTER</strong>
          </a>
        </div>
          <!--Search Bar-->
        <% if user_signed_in? %>
        <div class="m-auto">
          <form class="form-inline search-form">
            <%= form_tag(movies_path, method: :get) do %>
            <%= text_field_tag(:search, params[:search], placeholder: "Alphabetical if Blank", class: "form-control") %>
            <button type="submit" class="fa fa-search"></button>
          <% end %>
        </form>
      </div>
      <% end  %>
        <!--User NavBar-->
      <div class="user-section">
        <% if user_signed_in? %>
          <p class="navbar-text pull-right">
            <a href="<%= user_path(current_user) %>">
              <i class="fa fa-star inverse"></i>
            </a>
            <!-- <a href="">
              <i class="fa fa-ticket"></i>
            </a> -->
            <a href="<%= edit_user_registration_path %>">
              <i class="fa fa-pencil-square-o"></i>
            </a>
            <a href="<%= destroy_user_session_path %>">
              <i class="fa fa-sign-out"></i>
            </a>
          <% else %>
            <b><%= link_to "Sign up", new_user_registration_path%></b>
            <b><%= link_to "Login", new_user_session_path%></b>
          <% end %>
        </p>
      </div>
    </div>
  </nav>
  <!--Main content-->
  <% if user_signed_in? %>
    <main class="container" style="min-height: 500px;">
    <% else %>
      <main class="container2" style="min-height: 500px;">
      <% end %>
      <%= yield %>
    </main>
    <!-- Footer-->
    <footer class="container footer">
      <nav class="navbar d-flex">
        <p>
          <strong>
            © 2018 BLOCKBOOSTER
          </strong>
        </p>
      </nav>
    </footer>
  </body>
</html>
